img {
    height: 250px;
    width: 250px;
}

#Card{
    background: rgba(187, 103, 255, 0.479);
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:200;
    color: rgba(0, 0, 0, 0.911);;
}

p{

}